.form-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
}

.description {
  font-size: 32px;
  margin-bottom: 20px;
}

ul {
  padding: 0;
}
li {
  margin: 10px 5px;
}
input[type=text] {
  width: 300px;
  font-size: 17px;
}
label {
  font-size: 15px;
}

.btns {
  display: flex;
}

.btns .btn {
  margin: 10px 10px 0 0;
  padding: 3px 10px;
  background-color: #1A76D1;
  border-radius: 5px;
  color:white;
  font-size: 15px
}

